<?php
	/*
		Configuration File
	*/
	
	// Recapthca API Key. obtain yours on https://recaptchca.google.com
	$recaptchca_api_key = 'ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ';
	
	// Your default Language
	$language = 'it_IT';  
?>
