<?php
	/*
		Configuration File
	*/
	
	// Recaptcha API Key. Obtain yours on https://www.google.com/recaptcha/
	$recaptcha_api_key = 'ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ';

	// Recaptcha Secret Key
	$recaptcha_secret_key = 'ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ';
	
	// Your default Language
	$language = 'it_IT';
	
	//Website Title
	$site_title = 'amavisd-release-web';
	
	//Company URL
	$company_url = 'https://www.example.com';
?>
