<?php
	/*
		Configuration File
	*/

	/* supported Captcha services
		- Google reCaptcha https://www.google.com/recaptcha/ (default)
		- hCaptcha https://docs.hcaptcha.com/
		- FriendlyCaptcha https://docs.friendlycaptcha.com/
	*/

	// default: Google's reCaptcha
	// ENABLE-IN-CASE: $captcha_service = 'hCaptcha';
	// ENABLE-IN-CASE: $captcha_service = 'FriendlyCaptcha';
	// ENABLE-IN-CASE: $captcha_service = 'CloudflareTurnstile';


	/* Google reCaptcha (replace dummy keys with real ones) */

	// Recaptcha API Key
	$recaptcha_api_key = 'ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ';

	// Recaptcha Secret Key
	$recaptcha_secret_key = 'ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ';


	/* hCaptcha (replace dummy keys with real ones) */

	// hCaptcha site key
	$hcaptcha_site_key = '<SITE-KEY-IN-UUID-FORMAT>';

	// hCaptcha secret key
	$hcaptcha_secret_key = '0x<HEX-CHAR-SECRET-KEY>';

	
	/* Friendly Captcha (replace dummy keys with real ones) */

	// FriendlyCaptcha site key
	$friendlycaptcha_site_key = '<SITE-KEY: [A-Z0-9]+>';

	// FriendlyCaptcha secret key
	$friendlycaptcha_secret_key = '<SECRET-KEY: [A-Z0-9]+>';


        /* Cloudflare Turnstile ((replace dummy keys with real ones) */

        // Cloudflare Turnstile site key
        $cloudflare_turnstile_site_key   = '0x<BASE64-SITE-KEY>';

        // Cloudflare Turnstile secret key
        $cloudflare_turnstile_secret_key = '0x<BASE64-SECRET-KEY-WITH-DASHES>';


	// Your default Language (see supported ones by files: lang-<CountryCode>.php)
	$language = 'en';
	
	//Website Title
	$site_title = 'amavisd-release-web';
	
	//Company URL (replace with real one)
	$company_url = 'https://www.example.com';
?>
