<?php
	/*
		Configuration File
	*/

	/* supported Captcha services
		- Google reCaptcha https://www.google.com/recaptcha/ (default)
		- hCaptcha https://docs.hcaptcha.com/
	*/

	// ENABLE-IN-CASE: $captcha_service = 'hCaptcha';


	/* Google reCaptcha (replace dummy keys with real ones) */

	// Recaptcha API Key
	$recaptcha_api_key = 'ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ';

	// Recaptcha Secret Key
	$recaptcha_secret_key = 'ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ';


	/* hCaptcha (replace dummy keys with real ones) */

	// hCaptcha site key
	$hcaptcha_site_key = '<SITE-KEY-IN-UUID-FORMAT>';

	// hCaptcha secret key
	$hcaptcha_secret_key = '0x<HEX-CHAR-SECRET-KEY>';

	
	// Your default Language
	$language = 'it_IT';
	
	//Website Title
	$site_title = 'amavisd-release-web';
	
	//Company URL (replace with real one)
	$company_url = 'https://www.example.com';
?>
